@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700;1,800&display=swap');
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 1em;
    align-items:flex-start;
    position: relative;
    z-index: 1;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-style:oblique;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    align-items: flex-start;
    
}

nav {
    background-color: #4CAF50;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover{
    background-color:#333;
}